html, body {
  overflow: hidden;
  margin: 0;
  touch-action: none; /* disable gestures like pinch or pan */
  overscroll-behavior: none; /* prevent edge bounce */
  height: 100%;
}

#game-canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: none;
  -webkit-user-select: none; /* for highlighting over text */
  user-select: none; /* same as above */
}
