html, body {
  overflow: hidden;
  margin: 0;
  touch-action: none; /* disable gestures like pinch or pan */
  overscroll-behavior: none; /* prevent edge bounce */
  height: 100%;
  font-family: "Outfit";
}

#game-canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 1;
    
  pointer-events: none;
  -webkit-user-select: none; /* for highlighting over text */
  user-select: none; /* same as above */
}

.login-info {
  display: inline;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
    
  width: 250px;
  height: 30px;
    
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
  border-radius: 20px;
    
  color: white;
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 500;
  text-align: center;

  transition: border 1s;
}

::placeholder {
  color: var(--ph, rgba(255, 255, 255, 0.75));
    
  transition: color 1s;
}

#username {
  left: 50vw;
  top: 40vh;
}

#display-name {
  left: 50vw;
  top: 46vh;
    
  display: none;
  opacity: 0;
}

#password {
  left: 50vw;
  top: 52vh;
}

#unknown-login-info {
  position: absolute;
  left: 50vw;
  top: 69vh;
      
  color: rgb(200, 0, 0);
  font-weight: 600;
  text-align: center;
    
  transform: translate(-50%, -50%);
}
